@use '../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight($h: clamp(3.125rem, 2.5rem + 3.125vw, 6.25rem));
    background-color: $backgroundcolor;
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    @include FirstSection($pt: 0px, $pb: 0px);
    @include PositionBox($jc: space-between);
    @include WidthAndHeight();
}

img {
    @include WidthAndHeight($w: clamp(6.875rem, 6.25rem + 3.125vw, 10rem), $h: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem));
}

nav {
    @include PositionBox();

    >.links {
        padding-right: 50px;

        >a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            padding: 0 15px;

            &:hover {
                cursor: pointer;
                color: $green;
            }
        }
    }

    >.buttons_language {

        >.button {
            background-color: $backgroundcolor;
            border-color: $green;
            border-width: 1px;
            border-radius: 10px;
            font-size: 20px;
            margin: 7px;
            padding: 0px 10px 0px 10px;

            &:hover {
                cursor: pointer;
                background-color: $purple;
                border-color: $purple;
            }
        }

        >.button_active {
            background-color: $green;
            border-color: $green;
            font-weight: bolder;

            &:hover {
                cursor: auto;
                background-color: $green;
                border-color: $green;
                font-weight: bolder;
            }
        }
    }
}