@use '../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight($h: 300px);
    background-color: $backgroundcolor;
    border-top: 5px solid $green;
}

section {
    @include FirstSection();
    @include WidthAndHeight();
    @include PositionBox($jc: space-between);
}

.logo {
    @include PositionBox($ai: start, $fd: column);

    >a {
        text-decoration: none;
        color: white;
        font-size: 16px;

        >img {
            @include WidthAndHeight($w: 200px, $h: 60px);
        }
    }

    .legal_notice_button {
        position: relative;
        display: inline-block;

        &::after {
            @include UnderLine(60%, 2px, $green, $bm: 0, $lf: 0);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover::after {
            opacity: 1
        }

    }
}

span {
    font-size: 24px;
}

.links {
    >a {
        margin-left: 50px;

        >img {
            @include WidthAndHeight($w: 35px, $h: 35px);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}