@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight();
    background-color: $backgroundcolor;
    position: relative;
    padding: 100px 0 120px 0;
}

section {
    @include FirstSection();
    @include PositionBox($fd: column);
    @include WidthAndHeight();
}

main {
    @include WidthAndHeight();
    @include PositionBox($jc: space-evenly);

    >div {
        @include PositionBox($fd: column);
        @include WidthAndHeight($w: 700px);

        >h1 {
            font-size: 120px;
        }

        >span {
            padding-bottom: 25px;
        }

        >table {
            z-index: 30;
            >tr {
                >td {
                    padding-bottom: 25px;

                    >img {
                        padding-right: 25px;
                        transition: transform 0.2s ease;

                        &:hover {
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
    }

    >div {
        >.background_img {
            @include WidthAndHeight($w: 700px, $h: 700px);
        }

        >.picture {
            position: absolute;
            z-index: 5;
        }

        >.picture_top {
            position: absolute;
            z-index: 20;
        }
    }

    >img {
        @include WidthAndHeight($w: 100vw, $h: 200px);
        position: absolute;
        bottom: 0;
        z-index: 10;
    }
}