@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight();
    background-color: $backgroundcolor;
    position: relative;
}

section {
    @include FirstSection();
    @include PositionBox($fd: column);
    @include WidthAndHeight();
}

.background-layer {
    @include PositionBox($jc: start, $ai: end);
    @include WidthAndHeight();
    max-width: 1920px;
    position: absolute;

    >img {
        @include WidthAndHeight($w: clamp(28.125rem, 25rem + 15.625vw, 43.75rem), $h: clamp(28.125rem, 25rem + 15.625vw, 43.75rem));
        margin: 0 0 -200px -300px;
    }
}

header {
    @include PositionBox();
    position: relative;
    z-index: 10;
    margin-bottom: 20px;

    &::before {
        @include UnderLine(calc(100vw - 25px), 5px, $turquoise, $tp: 50%, $lf: -100vw);
    }

    >h1 {
        font-size: clamp(2rem, 0.9rem + 5.5vw, 7.5rem);
        font-weight: bolder;
    }
}

main {
    @include PositionBox($jc: space-between, $ai: start);
    @include WidthAndHeight();
    position: relative;
    z-index: 10;

    >.text_box {
        @include PositionBox($fd: column, $jc: start, $ai: start);
        @include WidthAndHeight($w: 40%);

        >p {
            padding-bottom: 20px;
            font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
            font-weight: bolder;
        }

        >span {
            padding-bottom: 15px;
        }
    }

    >.input_box {
        @include PositionBox($fd: column, $ai: start, $jc: start);
        @include WidthAndHeight($w: 45%);
        position: relative;
        display: inline-block;

        >input,
        textarea {
            outline: none;
            box-sizing: border-box;
            padding: 10px 50px 10px 20px;
            background-color: $backgroundcolor;
            border-radius: 10px;
            border-color: $purple;

            &:hover {
                cursor: pointer;
                border-color: $turquoise;
            }

            &.valid {
                border-color: $green;
                background: url('/img/icons/right.png') no-repeat right 10px top 10px;
                background-size: 30px;
            }

            &.invalid {
                border-color: red;
                background: url('/img/icons/wrong.png') no-repeat right 10px top 10px;
                background-size: 30px;
            }
        }

        >span {
            color: red;
        }

        >.username {
            @include WidthAndHeight();
        }

        >.email {
            @include WidthAndHeight();
            margin-top: 20px;
        }

        >.message {
            @include PositionBox($ai: start, $jc: start);
            @include WidthAndHeight($w: 100%, $h: 250px);
            margin-top: 20px;
        }

        >.checkbox_box {
            @include WidthAndHeight();
            @include PositionBox($jc: start);
            margin-top: 20px;

            >.checkbox {
                @include WidthAndHeight($w: 20px, $h: 20px);
                min-width: 20px;
                min-height: 20px;
                appearance: none;
                -webkit-appearance: none;
                margin-right: 10px;
                border: 2px solid $green;
                background-color: $backgroundcolor;
                cursor: pointer;

                &:hover {
                    background-color: $turquoise;
                }

                &:checked {
                    border-color: $green;
                }

                &:checked::after {
                    @include PositionBox();
                    @include WidthAndHeight();
                    content: "✓";
                    color: $green;
                    font-size: 16px;
                }
            }

            >label {
                font-size: 16px;

                >a {
                    font-size: 16px;
                    text-decoration: none;
                    color: $turquoise
                }
            }
        }

        >.send_button_box {
            @include WidthAndHeight();
            @include PositionBox();
            margin-top: 50px;

            >button {
                @include AnkerButton();

                &.activ_to_send {
                    background-color: $green;
                    transition: transform 0.2s ease;

                    @include HoverAnkerButton();
                }
            }
        }
    }
}

footer {
    @include PositionBox($jc: end);
    @include WidthAndHeight();
    position: relative;
    z-index: 10;
    margin-top: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);

    >a {
        @include PositionBox();
        @include WidthAndHeight($w: clamp(1.25rem, 1rem + 1.25vw, 2.5rem), $h: clamp(1.25rem, 1rem + 1.25vw, 2.5rem));
        text-decoration: none;
        border: solid;
        border-radius: 50px;
        font-size: clamp(1rem, 0.762rem + 1.188vw, 2.188rem);

        &:hover {
            color: $green;
            border-color: $green;
        }
    }
}

@media (max-width: 1100px) {
    main {
        @include PositionBox($fd: column);

        >.text_box {
            @include WidthAndHeight();
        }

        >.input_box {
            @include WidthAndHeight();

            >input,
            textarea {
                padding: 10px clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem) 10px 20px;

                &.valid {
                    background-size: clamp(0.938rem, 0.75rem + 0.938vw, 1.875rem);
                }

                &.invalid {
                    background-size: clamp(0.938rem, 0.75rem + 0.938vw, 1.875rem);
                }
            }

            >.username {
                @include WidthAndHeight($h: auto);
            }

            >.email {
                @include WidthAndHeight($h: auto);
            }
        }
    }
}