@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight($h: calc(100vh - 100px));
    background-color: $backgroundcolor;
    position: relative;
}

section {
    @include FirstSection($pb: 20px);
    @include PositionBox($fd: column);
    @include WidthAndHeight();
}

.background-layer {
    @include PositionBox($jc: space-between);
    @include WidthAndHeight();
    max-width: 1920px;
    position: absolute;
    z-index: 1;

    >img {
        @include WidthAndHeight($w: clamp(28.125rem, 25rem + 15.625vw, 43.75rem), $h: clamp(28.125rem, 25rem + 15.625vw, 43.75rem));
    }

    >.img-left {
        margin-left: -250px;
    }

    >.img-right {
        margin-right: -250px;
    }
}

main {
    @include PositionBox($fd: column);
    @include WidthAndHeight($h: 90%);
    z-index: 10;

    >.about_me {
        @include PositionBox();

        >span {
            padding-right: 30px;
            text-align: center;
            font-size: clamp(1.625rem, 0.575rem + 5.25vw, 6.875rem);
            writing-mode: sideways-lr;
        }

        >div {
            >h1 {
                font-size: clamp(2rem, 0.525rem + 7.375vw, 9.375rem);
            }

            >span {
                font-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
                color: $purple;
            }
        }
    }

    >a {
        @include AnkerButton($mt: 50px, $bc: $green, $ts: transform 0.2s ease);
        @include HoverAnkerButton();
    }
}

footer {
    @include PositionBox($jc: start);
    @include WidthAndHeight($h: 10%);
    position: relative;
    z-index: 10;

    &::before {
        @include UnderLine(calc(100vw + 25px), 5px, $green, $tp: 47%, $lf: -100vw);
    }

    >a {
        margin-left: 50px;

        >img {
            @include WidthAndHeight($w: 35px, $h: 35px);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}

@media (max-width: 900px) {

    :host {
        @include WidthAndHeight($h: calc(100vh - 50px));
    }

    .background-layer {
        @include PositionBox($fd: column);

        >.img-left {
            padding-right: clamp(0rem, -9.322rem + 46.61vw, 34.375rem);
            left: 0;
            margin-left: -350px;
        }

        >.img-right {
            padding-left: clamp(0rem, -9.322rem + 46.61vw, 34.375rem);
            right: 0;
            margin-right: -350px;
        }
    }

    main {
        >.about_me {
            >span {
                padding-right: 5px;
            }
        }
    }

    footer {
        &::before {
            @include UnderLine(calc(100vw + 10px), 5px, $green, $tp: 47%, $lf: -100vw);
        }

        >a {
            margin-left: 20px;
        }
    }
}