$backgroundcolor: #141D2F;
$green: #70E61C;
$purple: #9747FF;
$turquoise: #1CDAE6;

@mixin PositionBox($d: flex, $jc: center, $ai: center, $fd: row) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd
}

@mixin FirstSection() {
    box-sizing: border-box;
    padding: 0 5%;
    max-width: 1920px;
}

@mixin WidthAndHeight($w: 100%, $h: 100%) {
    width: $w;
    height: $h;
}

@mixin UnderLine($w, $h, $bc, $tp: null, $bm: null, $lf: null, $rt: null) {
    content: "";
    position: absolute;
    width: $w;
    height: $h;
    background: $bc;
    @if $tp !=null { top: $tp; }
    @if $bm !=null { bottom: $bm; }
    @if $lf !=null { left: $lf; }
    @if $rt !=null { right: $rt; }
}