@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight();
    background-color: $backgroundcolor;
    position: relative;
}

section {
    @include FirstSection();
    @include PositionBox();
    @include WidthAndHeight();
}

.background-layer {
    @include PositionBox($jc: start);
    @include WidthAndHeight();
    max-width: 1920px;
    position: absolute;

    >img {
        @include WidthAndHeight($w: 700px, $h: 700px);
        z-index: 10;
        margin: 0 0 -500px -350px;
    }
}

main {
    @include PositionBox($jc: start);
    @include WidthAndHeight($w: 50%);
    z-index: 20;
    flex-wrap: wrap;

    >div {
        @include WidthAndHeight($w: 200px, $h: 200px);
        @include PositionBox($fd: column);

        >img {
            @include WidthAndHeight($w: 80px, $h: 80px);
            transition: transform 0.2s ease;

            &:hover {
                transform: translateY(-20px);
            }
        }

        >span {
            font-size: 16px;
            padding-top: 5px;
        }
    }
}

footer {
    @include PositionBox($jc: start, $ai: end, $fd: column);
    @include WidthAndHeight($w: 50%);
    z-index: 20;
    text-align: end;

    >h1 {
        position: relative;
        font-size: 120px;
        margin-bottom: 20px;
        padding-right: 20px;

        &::before {
            @include UnderLine(100%, 5px, $turquoise, $tp: 50%, $lf: 100%);
        }
    }

    >h2 {
        font-size: 32px;
        margin-bottom: 10px;

        >span {
            font-size: 32px;
            color: $purple;
        }
    }

    >p {
        margin-bottom: 10px;
    }

    >a {
        margin-top: 20px;
        border: none;
        background-color: $green;
        border-radius: 8px;
        text-decoration: none;
        font-size: 24px;
        padding: 10px 30px 10px 30px;
        transition: transform 0.2s ease;

        &:hover {
            cursor: pointer;
            background-color: $purple;
            transform: scale(1.2);
        }
    }
}