@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight();
    background-color: $backgroundcolor;
    position: relative;
}

section {
    @include FirstSection();
    @include PositionBox();
    @include WidthAndHeight();
}

.background-layer {
    @include PositionBox($jc: start);
    @include WidthAndHeight();
    max-width: 1920px;
    position: absolute;

    >img {
        @include WidthAndHeight($w: clamp(28.125rem, 25rem + 15.625vw, 43.75rem), $h: clamp(28.125rem, 25rem + 15.625vw, 43.75rem));
        z-index: 10;
        margin: 0 0 -500px -350px;
    }
}

main {
    @include PositionBox($jc: start);
    @include WidthAndHeight($w: 50%);
    z-index: 20;
    flex-wrap: wrap;

    >div {
        @include WidthAndHeight($w: clamp(5rem, 3.5rem + 7.5vw, 12.5rem), $h: clamp(5rem, 3.5rem + 7.5vw, 12.5rem));
        @include PositionBox($fd: column);

        >img {
            @include WidthAndHeight($w: clamp(2.5rem, 2rem + 2.5vw, 5rem), $h: clamp(2.5rem, 2rem + 2.5vw, 5rem));
            transition: transform 0.2s ease;

            &:hover {
                transform: translateY(-20px);
            }
        }

        >span {
            font-size: 16px;
            padding-top: 5px;
        }
    }
}

footer {
    @include PositionBox($jc: start, $ai: end, $fd: column);
    @include WidthAndHeight($w: 50%);
    z-index: 20;
    text-align: end;

    >h1 {
        position: relative;
        font-size: clamp(2rem, 0.9rem + 5.5vw, 7.5rem);
        margin-bottom: 20px;
        padding-right: 20px;

        &::before {
            @include UnderLine(100%, 5px, $turquoise, $tp: 50%, $lf: 100%);
        }
    }

    >h2 {
        font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
        margin-bottom: 10px;

        >span {
            font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
            color: $purple;
        }
    }

    >p {
        margin-bottom: 10px;
    }

    >a {
        @include AnkerButton($mt: 20px, $bc: $green, $ts: transform 0.2s ease);
        @include HoverAnkerButton();
    }
}

@media (max-width: 1000px) {
    .background-layer {
        >img {
            margin: 0 0 -150px -250px;
        }
    }

    main {
        @include PositionBox();
        @include WidthAndHeight();
        margin: 20px 0 20px 0;
    }

    footer {
        @include PositionBox($fd: column);
        @include WidthAndHeight();
    }
}