<section id="skillsComponent">
    <div class="background-layer">
        <img src="./img/background/background_04.png" />
    </div>

    @if (isMobile) {
        <footer>
            <h1>{{ 'skills.headline' | translate }}</h1>
            <p>{{ 'skills.text_1' | translate }}</p>

            <main>
                @for (item of skills; track $index) {
                    <div data-aos="fade-right" data-aos-duration="1000" data-aos-offset="350">
                        <img [src]="item.img">
                        <span>{{ item.name }}</span>
                    </div>
                }
            </main>

            <h2>{{ 'skills.text_2' | translate }}<span>{{ 'skills.text_2_color' | translate }}</span>?</h2>
            <p>{{ 'skills.text_3' | translate }}</p>
            <a data-aos="flip-up" data-aos-duration="1000" data-aos-offset="350" data-aos-duration="1000" class="picture_top" href="#contactComponent">{{ 'skills.button_text' | translate }}</a>
        </footer>
    } @else {
        <main>
            @for (item of skills; track $index) {
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-offset="350">
                    <img [src]="item.img">
                    <span>{{ item.name }}</span>
                </div>
            }
        </main>

        <footer>
            <h1>{{ 'skills.headline' | translate }}</h1>
            <p>{{ 'skills.text_1' | translate }}</p>
            <h2>{{ 'skills.text_2' | translate }}<span>{{ 'skills.text_2_color' | translate }}</span>?</h2>
            <p>{{ 'skills.text_3' | translate }}</p>
            <a data-aos="flip-up" data-aos-duration="1000" data-aos-offset="350" data-aos-duration="1000" class="picture_top" href="#contactComponent">{{ 'skills.button_text' | translate }}</a>
        </footer>
    }
</section>