@use '../../../styles/globels' as *;

:host {
    @include PositionBox();
    @include WidthAndHeight();
    background-color: $backgroundcolor;
    position: relative;
}

section {
    @include FirstSection();
    @include PositionBox($fd: column);
    @include WidthAndHeight();
}

.background-layer {
    @include PositionBox($jc: end);
    @include WidthAndHeight();
    max-width: 1920px;
    position: absolute;

    >img {
        @include WidthAndHeight($w: clamp(28.125rem, 25rem + 15.625vw, 43.75rem), $h: clamp(28.125rem, 25rem + 15.625vw, 43.75rem));
        margin: -150px -400px 0 0;
    }
}

main {
    @include WidthAndHeight();
    @include PositionBox();
    z-index: 10;

    >h1 {
        z-index: 15;
        margin: -90px -30px 0 0;
        font-size: 250px;
        color: $purple;
    }

    >.text_box {
        @include PositionBox($fd: column, $jc: space-between, $ai: end);
        @include WidthAndHeight($w: 40%);
        padding: clamp(0.625rem, -0.255rem + 2.817vw, 3.125rem) clamp(1.25rem, -0.511rem + 5.634vw, 6.25rem);
        background-color: $backgroundcolor;
        margin-right: 100px;
        position: relative;
        border: solid;
        border-width: 5px;
        border-radius: 30px;
        border-color: $green;

        >span {
            padding-bottom: 50px;
        }

        >div {
            @include PositionBox();
            @include WidthAndHeight();
            position: relative;

            &::before {
                content: "";
                flex: 1;
                height: 5px;
                background: $turquoise;
                margin-right: 20px;
            }
        }
    }

    >.img_box {
        @include WidthAndHeight($w: clamp(11.25rem, 9.75rem + 7.5vw, 18.75rem), $h: clamp(11.25rem, 9.75rem + 7.5vw, 18.75rem));
        position: relative;
        border-radius: 150px;
        border: solid;
        border-color: $purple;
        border-width: 5px;

        &::before {
            @include UnderLine(200%, 5px, $purple, $tp: 50%, $lf: 100%, $rt: 0);
        }

        >img {
            @include WidthAndHeight($w: clamp(11.25rem, 9.75rem + 7.5vw, 18.75rem), $h: clamp(11.25rem, 9.75rem + 7.5vw, 18.75rem));
            border-radius: 150px;
        }
    }
}

footer {
    @include PositionBox();
    z-index: 10;
    margin-top: 30px;

    >button {
        @include WidthAndHeight($w: clamp(2.188rem, 2.162rem + 0.802vw, 3.125rem), $h: clamp(2.188rem, 2.162rem + 0.802vw, 3.125rem));
        @include PositionBox();
        border: none;
        background-color: $backgroundcolor;

        &:hover {
            cursor: pointer;
            border: solid;
            border-radius: 50px;
            border-color: $green;
        }

        >img {
            @include WidthAndHeight($w: clamp(1.875rem, 1.858rem + 0.535vw, 2.5rem), $h: clamp(1.875rem, 1.858rem + 0.535vw, 2.5rem));
        }
    }

    >span {
        padding: 0 12px 0px 12px;
        font-size: clamp(1rem, 0.985rem + 0.481vw, 1.563rem);
        color: $purple;

        &.active {
            color: $green;
        }
    }
}

@media (max-width: 1100px) {
    .background-layer {
        >img {
            margin: -300px -300px 0 0;
        }
    }

    main {
        @include PositionBox($fd: column-reverse);

        >h1 {
            display: none;
        }

        >.text_box {
            @include WidthAndHeight($w: 80%);
            margin: 50px 0 0 0;

            >span {
                padding-bottom: 50px;
            }
        }
    }
}